{sys, [
       {lib_dirs, ["../../apps", "../../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "feeds", "1",
        [
         kernel,
         stdlib,
         sasl,
         feeds
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "feeds"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, exmpp, [{incl_cond, include}]},
       {app, lhttpc, [{incl_cond, include}]},
       {app, epgsql, [{incl_cond, include}]},
       {app, poolboy, [{incl_cond, include}]},
       {app, model, [{incl_cond, include}]},
       {app, shared, [{incl_cond, include}]},
       {app, feeds, [{incl_cond, include}]}
      ]}.

{target_dir, "feeds"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/feeds", "bin/feeds"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/feeds.cmd", "bin/feeds.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
