{sub_dirs, ["apps/servtorrent"]}.

{deps, [{misultin, "0.*",
         {git, "git://github.com/ostinelli/misultin.git", {branch, "master"}}},
	{epgsql, "VERSION",
	 {git, "git://github.com/wg/epgsql.git", {branch, "master"}}},
	{ibrowse, "2.*.*",
	 {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
	{mochiweb, "2.*.*",
	 {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}}
       ]}.
