{sub_dirs, ["apps/servtorrent", "apps/model", "apps/ui", "apps/feeds"]}.

{deps, [{misultin, "0.*",
         {git, "git://github.com/ostinelli/misultin.git", {branch, "master"}}},
	{epgsql, "1.4*",
	 {git, "git://github.com/wg/epgsql.git", {branch, "master"}}},
	{ibrowse, "3.0.*",
	 {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
	{rfc4627_jsonrpc, "0.*",
	 {git, "git://github.com/tonyg/erlang-rfc4627.git", {branch, "master"}}},
	{poolboy, "0.*",
	 {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
	{erlsom, "1.2.*",
	 {git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}}
       ]}.
