%% {deps, [{cowboy, "2.6.1"},
%% 	{epgsql, "4.1.0"},
%% 	{lhttpc, "1.5.5"},
%% 	{poolboy, "1.5.1"},
%% 	{exmpp, "0.9.4-HEAD"}
%%        ]}.

{xref_warnings, true}.

{relx, [
        {release, {feeds, "1.0.0"},
         [feeds]},
        {release, {hasher, "1.0.0"},
         [hasher]},
        {release, {seeder, "1.0.0"},
         [seeder]},

        %% {dev_mode, true},
        {include_erts, false},
        
        {extended_start_script, false},
        {vm_args, "config/vm.args"}
       ]}.
