body {
  text-align: center;
  color: black;
  background: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body > * {
  text-align: left;
}
a {
  color: #073;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

header.site {
  margin: 0 auto 1em;
  text-align: center;
  border-bottom: 1px dotted #ccc;
  font-family: 'Georgia', serif;
  font-style: italic;
  font-weight: bold;
}
header.site h1 {
  min-height: 35px;
  line-height: 1em;
  font-size: 300%;
  margin: 0;
  padding: 0 0;
}
header.site h1 a {
  background: url('logo.svg') no-repeat center left;
  padding-left: 42px;
  display: inline-block;
}
header.site h1 a:hover {
  color: #444;
  text-decoration: none;
}
header.site h1:after {
  content: 'Alpha';
  background-color: #073;
  padding: 0 2px;
  margin-left: 4px;
  color: white;
  font-size: 30%;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  border-radius: 2px;
  vertical-align: 40%;
}
header.site .slogan {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  color: #777;
}

.col, .col1, .col2 {
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}
.col {
  max-width: 40em;
}
.col1, .col2 {
  max-width: 48%;
  min-width: 32em;
}
.col1 {
  margin-right: 0.5em;
}
.col2 {
  margin-left: 0.5em;
}

h2 { 
  font-size: 150%;
  font-weight: normal;
  color: #999;
  margin: 0.4em 0 0.1em;
}
header {
  text-align: center;
  margin: 0 auto;
}
header .meta {
  display: inline-block;
}
header .meta, header .meta div {
  text-align: left;
  /* Let logo float: */
  margin-left: 70px;
}
.meta h2 {
  margin: 0;
  font-style: italic;
  font-family: 'Georgia', serif;
  line-height: 0.8em;
  font-size: 300%;
}
h2 .feedicon {
  font-size: 0;
  color: rgba(255, 255, 255, 0);
  width: 0px;
  height: 0px;
  vertical-align: top;
  padding-top: 16px;
  padding-left: 16px;
  background: url('rss.png') no-repeat center top;
}
h2 .publisher {
  font-size: 50%;
  font-style: normal;
  font-family: sans-serif;
  white-space: nowrap;
}
.meta, section {
  min-height: 70px;
}
img.logo {
  float: left;
  vertical-align: top;
  max-width: 64px;
  max-height: 64px;
  object-fit: contain;
  padding: 0;
  margin: 2px 4px 4px 0;
}
.item img.logo {
  max-width: 40px;
  max-height: 40px;
}
.flattr {
  float: right;
  text-align: right;
  padding: 0 0.2em;
}
.flattr a {
  font-size: 70%;
}
.flattr a.FlattrButton {
  display: none;
}

article {
  clear: both;
  background-color: white;
  border-top: 1px solid #eee;
  margin: 0;
  padding: 0.5em 0 0.3em;
}
article.feed {
  max-width: 20em;
}
.col2 article {
  margin-right: 0;
}
article:first-child {
  border-top: none;
}
h3 {
  font-size: 120%;
  margin: 0;
  color: #999;
  font-weight: bold;
  line-height: 1em;
  font-style: italic;
  font-family: 'Georgia', serif;
}
.col1 h3, .col2 h3 {
  min-width: 42em;
}
.homepage {
  margin: 0;
  font-size: 70%;
}
.homepage a {
  font-weight: normal;
  color: #333;
}

.download {
  list-style-type: none;
  margin: 0.5em 0 0;
  padding: 0;
  /* meta & flattr floats above */
  clear: both;
}
.download .torrent {
  float: left;
}
.col1 .download .torrent, .col2 .download .torrent {
  max-width: 18em;
}
.torrent a {
  color: #090;
  background: url('favicon.png') no-repeat top left;
  padding-left: 19px;
  font-size: 90%;
  display: block;
}
.stats {
  margin: 0 0 0 1em;
  white-space: nowrap;
  text-align: right;
}
.stats .size, .stats .l, .stats .s, .stats .bw {
  font-size: 70%;
  color: #333;
  padding: 3px 0.4em 2px;
  margin: 0 0.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  box-shadow: #eee 2px 2px 4px inset;
}
.stats .size {
  background: url('size.svg') no-repeat 3% 50%;
  padding-left: 11px;
  min-width: 5em;
}
.stats .s {
  background: url('s.svg') no-repeat 5% 50%;
  padding-left: 11px;
  min-width: 1.5em;
}
.stats .l {
  background: url('l.svg') no-repeat 5% 50%;
  padding-left: 11px;
  min-width: 1.5em;
}
.stats .bw {
  background: url('swarm.svg') no-repeat 8% 50%;
  padding-left: 18px;
  min-width: 4em;
}

footer {
  margin: 2em auto 0;
  padding: 0;
  padding-top: 0.1em;
  border-top: 1px dotted #ccc;
  text-align: center;
}
footer div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
footer p {
  color: #777;
  font-size: 70%;
  margin: 0 4em;
  padding: 0;
}
footer a {
  color: #777;
  font-weight: bold;
}
